{% load static %}
<link rel="stylesheet" href="{% static 'css/alert.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="{% static 'css/alert.css' %}">

{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-error" id="alert-{{ forloop.counter }}">
            <div class="icon__wrapper">
                <i class="bi bi-ban-fill"></i>
            </div>
            <p>
              Erreur <br>
              {{ message }}
            </p>
            <span class="mdi mdi-open-in-new open"></span>
            <button class="close" onclick="dismissAlert('{{ forloop.counter }}')">&times;</button>
        </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning" id="alert-{{ forloop.counter }}">
            <div class="icon__wrapper">
                <span class="mdi mdi-alert-outline"></span>
            </div>
            <p>
              Attention <br>
              {{ message }}
            </p>
            <span class="mdi mdi-open-in-new open"></span>
            <button class="close" onclick="dismissAlert('{{ forloop.counter }}')">&times;</button>
        </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info" id="alert-{{ forloop.counter }}">
            <div class="icon__wrapper">
                <span class="mdi mdi-alert-outline"></span>
            </div>
            <p>
              Informations <br>
              {{ message }}
            </p>
            <span class="mdi mdi-open-in-new open"></span>
            <button class="close" onclick="dismissAlert('{{ forloop.counter }}')">&times;</button>
        </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" id="alert-{{ forloop.counter }}">
            <div class="icon__wrapper">
              <i class="bi bi-check-circle-fill"></i>
            </div>
            <p>
              Succès <br>
              {{ message }}
            </p>
            <span class="mdi mdi-open-in-new open"></span>
            <button class="close" onclick="dismissAlert('{{ forloop.counter }}')">&times;</button>
        </div>
    {% endif %}
{% endfor %}

<script>
    // Function to hide the alert after 5 seconds
    setTimeout(function() {
        var alerts = document.querySelectorAll(".alert");
        alerts.forEach(function(alert) {
            alert.style.display = "none";
        });
    }, 5000); // 5000 milliseconds = 5 seconds

    // Function to dismiss an alert when the close button is clicked
    function dismissAlert(counter) {
        var alert = document.getElementById("alert-" + counter);
        if (alert) {
            alert.style.display = "none";
        }
    }
</script>
