{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          
          {% if request.user.is_medcin %}
          <h3 class="font-weight-bold">Bonjour Dr. {{ request.user.nom }}</h3>
          {% else %}
          <h3 class="font-weight-bold">Bonjour  {{ request.user.nom }}</h3>
          {% endif %}
            
          
          <h6 class="font-weight-normal mb-0">
            Simplifiez la gestion de votre cabinet médical
          </h6>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row">
   
    <div class="col-md-12 grid-margin transparent">
      <div class="row">
        <div class="col-md-4 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <div class="card-body">
              <p class="mb-4">Les rendez-vous planifiés pour aujourd'hui</p>
              <p class="fs-30 mb-2">{{ rendez_vous_today_count|default:0 }}</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 stretch-card transparent">
          <div class="card card-dark-blue">
            <div class="card-body">
              <p class="mb-4">Le revenus de mois</p>
              <p class="fs-30 mb-2">{{ revenu_month|default:0 }} MAD</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 stretch-card transparent">
          <div class="card card-dark-blue">
            <div class="card-body">
              <p class="mb-4">Le revenus d'ajourd'hui</p>
              <p class="fs-30 mb-2"> {{ revenu_today|default:0 }} MAD</p>
              
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-12 grid-margin transparent">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Les nombres des rendez-vous dans les dernieres 6 mois</h4>
              <canvas id="lineChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">L'évolution des montant dans les derniers 6 mois</h4>
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">La distribution des status des rendez vous</h4>
              <canvas id="pieChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Les top patient payant des les dernieres 6 mois.</h4>
              <canvas id="doughnutChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Répartition des patients diabétiques</h4>
              <canvas id="diabetesPieChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">L'évolution de nombre de prédiction par résultat</h4>
              <canvas id="evolutionDiabeteChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Répartition des maladies prédites (Pie Chart) -->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Répartition des maladies prédites</h4>
                    <canvas id="maladiesPieChart"></canvas>
                </div>
            </div>
        </div>
    
        <!-- Évolution des maladies prédites (Line Chart) -->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Évolution des prédictions de maladies</h4>
                    <canvas id="maladiesLineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

<script src="{% static 'js/dashboard.js' %}"></script>




{% endblock content %}