{% extends 'pages/base.html' %} {% load static %} {% block content %}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gérer vos secretaires</h1>
      <p class="card-description">
        veuillez remplir les champs ci-dessous pour ajouter un secretaire
      </p>
      <form
        class="forms-sample"
        action="{% url 'secretaires' %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputName1">Nom</label>
          <input
            type="text"
            class="form-control"
            name="nom"
            placeholder="Nom"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName1">Preom</label>
          <input
            type="text"
            class="form-control"
            name="prenom"
            placeholder="Prenom"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Adresse email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Numéro de telephone</label>
          <input
            type="text"
            name="phone_number"
            class="form-control"
            placeholder="Numéro de telephone"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword4"
            >Mot de passe pour accéder le système</label
          >
          <input
            type="password"
            name="mdp"
            class="form-control"
            id="exampleInputPassword4"
            placeholder="Mot de passe"
          />
        </div>
        <div class="form-group">
          <label>Photo de profil</label>
          <input type="file" name="img" class="form-control" accept="image/*" />
        </div>

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Vos secretaire</h4>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Secretaire</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if secretaires %} {% for se in secretaires %}

            <tr>
              <td class="py-1">
                {% if se.profile_picture %}
                <img src="{{ se.profile_picture.url }}" alt="image" />
                {% else %}
                <!-- You can leave this empty or add a placeholder message/image -->
                <span>No image available</span>
                {% endif %}
              </td>
              <td>{{ se.user.nom }}</td>
              <td>{{ se.user.prenom }}</td>
              <td>
         
                  <a type="submit" href="{% url 'supprimer_secretaire' secretaire_id=se.id %}" class="btn btn-danger mr-2">
                    Supprimer
                  </a>
                  <a type="submit" href="{% url 'modifier_secretaire' secretaire_id=se.id %}" class="btn btn-primary mr-2">
                    Regarder détails
                  </a>
               
                
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="5">Aucun secretaire n'est enregistré</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
