{% extends 'pages/base.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Modifier un rendez-vous</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{% url 'rendez_vous' %}" class="btn btn-secondary">Annuler</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}