{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<br><br><br>
<div class="col-md-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Modifier Secretaire: {{ secretaire.user.nom }} {{ secretaire.user.prenom }}</h4>
            <p class="card-description">Modifier les informations de ce Secretaire</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Nom -->
                <div class="form-group row">
                     <!-- Profile Picture -->
                <div class="form-group row">
                    <label for="id_profile_picture" class="col-sm-3 col-form-label">Profile Picture</label>
                    <div class="col-sm-9">
                        {% if secretaire.profile_picture %}
                            <img src="{{ secretaire.profile_picture.url }}"  alt="Profile Picture" style="max-width: 100px;border-radius:50%;">
                        {% endif %}
                        <input type="file" class="form-control" id="id_profile_picture" name="profile_picture">
                    </div>
                </div>
                    <label for="id_nom" class="col-sm-3 col-form-label">Nom</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="id_nom" name="nom" value="{{ secretaire.user.nom }}" placeholder="Nom" required>
                    </div>
                </div>

                <!-- Prenom -->
                <div class="form-group row">
                    <label for="id_prenom" class="col-sm-3 col-form-label">Prénom</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="id_prenom" name="prenom" value="{{ secretaire.user.prenom }}" placeholder="Prénom" required>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group row">
                    <label for="id_email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="id_email" name="email" value="{{ secretaire.user.email }}" placeholder="Email" required>
                    </div>
                </div>

                <!-- Phone Number -->
                <div class="form-group row">
                    <label for="id_phone_number" class="col-sm-3 col-form-label">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="id_phone_number" name="phone_number" value="{{ secretaire.phone_number }}" placeholder="Phone Number">
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group row">
                    <label for="id_mdp" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="id_mdp" name="mdp" value="{{ secretaire.mdp }}" placeholder="Password">
                    </div>
                </div>

               

                <!-- Submit -->
                <button type="submit" class="btn btn-primary mr-2">Save Changes</button>
                <button type="button" class="btn btn-light" onclick="window.history.back()">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
